@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;1,400;1,500;1,800&family=Poppins:ital,wght@0,200;0,400;0,900;1,100;1,200;1,400;1,600;1,800&display=swap");
/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #e5d9d1;
}

#top-navigation {
  background-color: #e5d9d1;
  max-width: 100%;
  height: 3vh;
}

#my-name {
  text-align: center;
  font-size: 3em;
  color: #000;
  background-color: #e5d9d1;
}

#aneesah {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

#khan {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

#scroll-container {
  display: grid;
  place-items: center;
  /* justify-content: space-evenly; */
  margin: auto;
  width: 85%;
  height: 35px;
  background-color: #7d8953;
  overflow: hidden;
  border-radius: 15px;
}

#scroll-track {
  display: flex;
  justify-content: space-between;
}

.scroll-text {
  display: flex;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  width: max-content;
}

#trio-container {
  margin: auto;
  margin-top: 80px;
  height: 400px;
  width: 85%;
  background-color: #d9c8bc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.information-slider {
  position: relative;
  height: 70%;
  width: 25%;
  color: #000;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  transition: background-color 1s;
}

.information-slider:hover {
  border-radius: 50%;
  transition: 1s 0.5s;
}

.information-slider-text {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 45%;
  bottom: 50%;
  text-align: center;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  font-size: 2em;
  font-style: italic;
}

.sliding-title {
  margin-bottom: 180px;
}

#education {
  margin-bottom: 180px;
}

#hobbies {
  margin-bottom: 170px;
}

#interests {
  margin-bottom: 180px;
}

.filler-text {
  font-family: "Poppins", sans-serif;
  font-size: 0.6em;
}

.information-slider-text-hidden {
  /* display: none; */
}

.information-slider:hover {
  background-color: #7d8953;
}

.information-slider:hover .information-slider-text {
  transform: translateY(-240px);
  transition: 1s 0.5s;
  color: #fff;
}

#inspirational-quote {
  margin: auto;
  margin-top: 80px;
  width: 85%;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  user-select: none;
  color: #7d8953;
}

#smaller-text {
  font-size: 0.8em;
}

/* #image-container {
  display: flex;
  flex-direction: row;
} */

#image-gallery {
  margin: auto;
  margin-top: 80px;
  height: 400px;
  width: 85%;
  background-color: #a8826a;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.gallery-content {
  margin: 50px;
  height: 280px;
  width: 280px;
  /* border: 1px solid black; */
  overflow: hidden;
  position: relative;
}

img {
  display: inline-block;
  vertical-align: middle;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0.1;
  top: 10;
}

#social-links {
  margin-top: 80px;
  height: 3vh;
  width: 100%;
  background-color: #7d8953;
  object-fit: cover;
  overflow: hidden;
}
