@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;1,400;1,500;1,800&family=Poppins:ital,wght@0,200;0,400;0,900;1,100;1,200;1,400;1,600;1,800&display=swap");
/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #e5d9d1;
}

#top-navigation {
  background-color: #e5d9d1;
  max-width: 100%;
  height: 3vh;
}

#my-name {
  text-align: center;
  font-size: 3em;
  color: #000;
  background-color: #e5d9d1;
}

#aneesah {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

#khan {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

#scroll-container {
  display: grid;
  place-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 85%;
  height: 30px;
  background-color: #7d8953;
  overflow: hidden;
}

#scroll-track {
  display: flex;
}

.scroll-text {
  display: flex;
  text-align: center;
  padding: 5px;
  height: 30px;
  width: 250px;
}

.scroll-text-small {
  display: flex;
  text-align: center;
  padding: 5px;
  height: 30px;
  width: 150px;
}

#trio-container {
  margin: auto;
  margin-top: 80px;
  height: 400px;
  width: 85%;
  background-color: #d9c8bc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.information-slider {
  height: 70%;
  width: 25%;
  color: #000;
  text-align: center;
  background-color: #fff;
}

.information-slider-text {
  margin-top: 120px;
  justify-content: center;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 500;
  font-size: 2em;
  font-style: italic;
}

.information-slider:hover {
  background-color: #7d8953;
}

.information-slider:hover .information-slider-text {
  display: none;
}

#inspirational-quote {
  margin: auto;
  margin-top: 80px;
  width: 85%;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  color: #7d8953;
}

#image-gallery {
  margin: auto;
  margin-top: 80px;
  height: 300px;
  width: 85%;
  background-color: #e5d9d1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gallery-content {
  margin: 0;
  height: 50%;
  width: 33%;
  border: 1px solid black;
}

#social-links {
  margin-top: 80px;
  height: 3vh;
  width: 100%;
  background-color: #7d8953;
}
